.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
q.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
    color: gold;
}
body{
    background-color:#41B3A3;
    padding: 100px; 
}
  
h1{
    font-family: Helvetica;
    text-align: center;
    color:white;
    padding: 20px;
}
  


.question{
    color:white;
    font-family: Helvetica;
    text-align: center;
    font-size: 14px;
}

.footerContainer{
    text-align: center; 
    padding-top: 10px;
}

.footerText{
    font-family: Helvetica;
    font-size: 10px;
    color:white;
}

.vertContainer{
    padding: 0px 50px 100px 50px;
}